<h2 class="text-center my-2">クイズを選んで<br class="br-sp" />始めよう</h2>
  <div class="quiz-select-area border rounded mt-3 py-2">
    <div class="row text-center">
      <div class="col-12 my-2">
        <h3 class="quiz-type text-center">県庁所在地をあてる</h3>
      </div>
      <div class="col-6 col-md-3 px-4 my-2">
        <%= button_to "1０問", quiz_create_path, params: {quiz_type: 'capital', quiz_numbers: 10} , class:"btn btn-block btn-primary" %>
      </div>
      <div class="col-6 col-md-3 px-4 my-2">
        <%= button_to "２０問", quiz_create_path, params: {quiz_type: 'capital', quiz_numbers: 20} , class:"btn btn-block btn-primary" %>
      </div>
      <div class="col-12 col-md-6 px-4 my-2">
        <%= button_to "47問（全都道府県）", quiz_create_path, params: {quiz_type: 'capital', quiz_numbers: 47} , class:"btn btn-lg btn-block btn-primary" %>
      </div>
    </div>
  </div>
  <div class="quiz-select-area border rounded mt-3 py-2">
    <div class="row text-center">
      <div class="col-12 my-2">
        <h3 class="quiz-type text-center">都道府県名をあてる</h3>
      </div>
      <div class="col-6 col-md-3 px-4 my-2">
        <%= button_to "1０問", quiz_create_path, params: {quiz_type: 'pref', quiz_numbers: 10} , class:"btn btn-block btn-success" %>
      </div>
      <div class="col-6 col-md-3 px-4 my-2">
        <%= button_to "２０問", quiz_create_path, params: {quiz_type: 'pref', quiz_numbers: 20} , class:"btn btn btn-block btn-success" %>
      </div>
      <div class="col-12 col-md-6 px-4 my-2">
        <%= button_to "47問（全都道府県）", quiz_create_path, params: {quiz_type: 'pref', quiz_numbers: 47} , class:"btn btn-lg btn btn-block btn-success" %>
      </div>
    </div>
  </div>
