
<div class="container mx-auto my-4" >
<div class="title">
  <h1 class="text-center">都道府県クイズ</h1>
</div>
<%= form_with url: question_create_path, class: "question-form", local: true do |f| %>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-4 pt-0">クイズの種類</legend>
      <div class="col-sm-8">
        <div class="form-check">
          <%= f.radio_button :question_type,'city', class: "form-check-input", checked: true %>
          <%= f.label :question_type_city, '県庁所在地あて', class: "form-check-label"  %>
        </div>
        <div class="form-check">
          <%= f.radio_button :question_type,'pref', class: "form-check-input" %>
          <%= f.label :question_type_pref, '都道府県あて', class: "form-check-label" %>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row mt-2">
    <div class="col-sm-4">
      <%= f.label 'number_of_questions', 'クイズの出題数' %>
    </div>
    <div class="col-sm-8">
      <%= f.number_field :number_of_questions, in: 1..47, step: 1 , class: "form-control" %>
    </div>
  </div>
  <%= f.submit 'クイズスタート' ,class:"btn btn-block btn-primary" %>
<% end %>
<%= link_to '戻る', root_path, class: "btn btn-block btn-light" %>
</div>